/* font-family: 'Lato', sans-serif; */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: rgb(19, 19, 115);
}

.dark-grey {
  color: #545456;
}

.thin {
  font-weight: 100;
}

.icons {
  margin: 5px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.name-title {
  font-size: 50px;
}

.job-title {
  font-size: 25px;
}

.featured-title {
  color: #BCBBBB;
  font-size: 35px;
  font-weight: bold;
}

.projects h3 {
  font-size: 30px;
  font-weight: bold;
}

.projects p {
  font-size: 16px;
  margin-bottom: 25px;
}

.brock-photo {
  width: 150px;
  height: auto;
}

hr {
    border: none;
    height: 3px;
    /* Set the hr color */
    color: #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
}

@media screen and (max-width: 990px) {
  .title-row .col-md-6{
    text-align: center;
  }
  .brock-photo {
    display: block;
    margin-left: auto;
    margin-right: auto
  }
}